* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1518px;
    margin: 0 auto;
}


/* background top*/

.first {
    width: 100%;
    height: 728px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/section-1/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all .3s ease-in-out;
}


/* common */

.color-des {
    color: gray;
}

.custom-head {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

.color-secondary {
    color: white;
}

.color-primary {
    color: #f5b754;
}

.primary-btn {
    background-color: #f5b754;
    margin: 20px 0px;
    margin-right: 10px;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.primary-btn::after,
.secondary-btn::after {
    content: '\f061';
    font-family: fontawesome;
}

.secondary-btn {
    margin: 20px 0px;
    padding: 20px 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 30px;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: white;
    color: black;
    transition: .3s;
}

.secondary-btn:hover {
    background-color: #f5b754;
    color: black;
    border: 1px solid transparent;
    transition: .3s;
}

.right-arrow::after {
    content: "\f054";
    font-family: fontawesome;
    font-size: 10px;
    padding-left: 20px;
}

.tag {
    letter-spacing: 5px;
    font-size: 10px;
}

.gap {
    background-color: #000000;
}

.bar {
    position: absolute;
    bottom: 0px;
    z-index: 100;
    left: 50%;
    height: 60px;
    width: 2px;
    background-color: #f5b754;
}

.btn-left {
    position: absolute;
    left: 15%;
    top: 35%;
    background-color: #f5b754;
    color: black;
    border: 1px solid transparent;
    transition: .3s;
    font-size: 30px;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    text-decoration: none;
    align-content: center;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #ffffff;
}

.btn-left::after {
    content: "\f053";
    font-family: fontawesome;
}

.btn-right {
    position: absolute;
    right: 15%;
    top: 35%;
    background-color: #f5b754;
    color: black;
    border: 1px solid transparent;
    transition: .3s;
    font-size: 30px;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    text-decoration: none;
    align-content: center;
}

.btn-right::after {
    content: "\f054";
    font-family: fontawesome;
}


/* head section*/

.head-section {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo {
    font-size: 40px;
    font-weight: 900;
    width: 20%;
    text-align: end;
}

.navbar {
    align-content: end;
    width: 60%;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar .nav-list li {
    margin: 15px;
    padding: 10px;
}

.navbar .nav-list li a:hover {
    color: #f5b754;
}

.navbar .nav-list li a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.contact a {
    border: 1px solid #f5b754;
    color: #f5b754;
    text-align: center;
    align-content: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 12px;
    margin-right: 10px;
    font-size: 25px;
}

.contact a:hover {
    background-color: #f5b754;
    color: black;
}

.contact .number ul {
    list-style: none;
}

.contact .number ul li:first-child {
    font-size: 12px;
    margin-bottom: 5px;
}

.contact .number ul li:last-child {
    font-size: 20px;
}

.contact .number {
    align-content: center;
}


/* pop up*/

.navbar .nav-list li div ul li {
    padding: 5px;
}

.navbar .nav-list li div ul:last-child {
    padding-bottom: 10px;
}

.navbar .nav-list li div {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 55px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    z-index: 100;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.navbar .nav-list li div ul {
    list-style: none;
}

.navbar .nav-list li div ul li a {
    margin: 0;
    transition: 0.3s ease-in-out;
}

.navbar .nav-list li div ul li a:hover {
    color: #f5b754;
    padding-left: 10px;
}

.navbar .nav-list li:hover div {
    visibility: visible;
    opacity: 1;
}


/*pop up under*/

.navbar .nav-list li div ul li .one-page-pop-up {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    left: 170px;
    top: 320px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul li .one-page-pop-up ul {
    list-style: none;
}

.navbar .nav-list li div ul .one-page:hover .one-page-pop-up {
    visibility: visible;
    opacity: 1;
}

.navbar .nav-list li div ul li .service-detail-popup {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    top: 100px;
    left: 140px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .service-detail:hover .service-detail-popup {
    visibility: visible;
    opacity: 1;
}

.navbar .nav-list li div ul li .car-grid-pop-up {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    top: 10px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .cars-grid:hover .car-grid-pop-up {
    visibility: visible;
    opacity: 1;
}

.navbar .nav-list li div ul li .car-types-pop-up {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    top: 100px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .cars-types:hover .car-types-pop-up {
    visibility: visible;
    opacity: 1;
}

.navbar .nav-list li div ul li .car-details-pop-up {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    top: 100px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .car-details:hover .car-details-pop-up {
    visibility: visible;
    opacity: 1;
}

.navbar .nav-list li div ul li .image-gallery-pop-up {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    position: absolute;
    top: 55px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .image-gallery:hover .image-gallery-pop-up {
    visibility: visible;
    opacity: 1;
}


/*button*/

.first #bg-1 {
    position: absolute;
    left: 700px;
    bottom: 20px;
    height: 20px;
    width: 20px;
    color: transparent;
    border: 1px solid #f5b754;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.first #bg-2 {
    position: absolute;
    left: 725px;
    color: transparent;
    bottom: 20px;
    height: 20px;
    width: 20px;
    border: 1px solid #f5b754;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.first #bg-3 {
    position: absolute;
    left: 750px;
    bottom: 20px;
    height: 20px;
    color: transparent;
    width: 20px;
    border: 1px solid #f5b754;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}


/*main content*/

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5b754;
    position: relative;
}

.main-content .info {
    position: absolute;
    left: 170px;
    top: 170px;
}

.main-content .info .car-type {
    font-weight: 900;
    color: white;
    font-size: 80px;
}

.info-and-price {
    color: white;
}

.price {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
}

.info-and-price .after-price {
    font-size: 12px;
}


/*section01*/

.about-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 420px;
    padding: 10% 0;
}

.about-section .more-about-us {
    width: 40%;
}

.about-section .image {
    position: relative;
    width: 30%;
    height: 450px;
    overflow: hidden;
    border-radius: 30px;
}

.about-section .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.about-section .image:hover img {
    transform: scale(1.08);
}

.about-section .image div {
    position: absolute;
    z-index: 100;
    width: 20%;
    height: 20%;
    background-color: #000000;
    align-content: center;
    text-align: center;
    bottom: 0px;
    left: 0px;
    border-radius: 0 50px 0 0;
}

.about-section .image div a {
    text-decoration: none;
    border: 1px solid #f5b754;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 50%;
    color: #ffffff;
}

.about-section .image:hover div a {
    background-color: #f5b754;
    color: #000000;
}

.about-section .more-about-us p {
    margin-top: 10px;
}

.about-section .more-about-us ul {
    list-style: none;
}

.about-section .more-about-us ul li {
    margin: 40px 0px;
}

.about-section .more-about-us ul li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #f5b754;
    padding: 8px;
    background-color: #323232;
    border-radius: 50%;
    margin-right: 10px;
}


/*section 02*/

.services-section {
    padding: 60px 0px;
    background-color: #000000;
    text-align: center;
}

.services-section .service-option-main {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.services-section .service-option-main .Our-services {
    margin-top: 50px;
    width: 85%;
    display: flex;
}

.services-section .service-option-main .Our-services .service-options {
    border-radius: 20px;
    margin: 20px;
    position: relative;
    justify-content: space-evenly;
    overflow: hidden;
}

.services-section .service-option-main .Our-services .service-options img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.services-section .service-option-main .Our-services .service-options img:hover {
    transform: scale(1.05);
}

.services-section .service-option-main .Our-services .service-options .corner-box {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    z-index: 100;
    background-color: #000000;
    border-radius: 0px 30px 0px 0px;
    align-content: center;
}

.services-section .service-option-main .Our-services .service-options .corner-box .text {
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
    border-radius: 100%;
    font-weight: 900;
    text-decoration: none;
    border: 1px solid #f5b754;
}

.services-section .service-option-main .Our-services .service-options:hover .corner-box .text {
    background-color: #f5b754;
    color: #000000;
}

.service-option-text {
    position: absolute;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    align-items: center;
    bottom: 0px;
    width: 100%;
    padding-left: 30px;
    height: 50px;
    font-size: 25px;
    color: white;
}

.not-active {
    visibility: hidden;
    max-width: 0px;
    opacity: 0;
    display: none;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

#ser-btn1 {
    position: absolute;
    left: 730px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #f5b754;
    color: transparent;
    background-color: transparent;
}

#ser-btn2 {
    position: absolute;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #f5b754;
    color: transparent;
    background-color: transparent;
}

#ser-btn2:hover,
#ser-btn1:hover {
    background-color: #f5b754;
}


/*bg section 2*/

.sec-2 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/section-2/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.rent {
    padding: 60px 0px;
}

.select-your-car {
    height: 500px;
    background-color: #000000;
}

.rental-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rental-form form {
    background-color: #000000;
    margin: 30px 0px;
    border-radius: 50px;
    padding: 40px;
}

.rental-form form select {
    border: none;
    background-color: #000000;
    color: #8d8d8d;
    padding-right: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 0px;
    margin: 0px 10px;
}

.rental-form form input {
    border: none;
    background-color: #000000;
    color: #8d8d8d;
    padding-right: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 0px;
    margin: 0px 10px;
    background: #000000;
}

.rental-form form input:focus-visible {
    outline: none;
}

.rental-form form select option {
    border: none;
    outline: none;
    margin: 50px;
    font-size: 15px;
}

.rental-form form select:focus-visible {
    outline: none;
}

.select-your-car {
    padding: 150px 0px;
}

.car-fleet-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 500px;
}

.car-fleet-options {
    width: 50%;
    height: 90%;
    background-color: #000000;
    overflow: hidden;
    border-radius: 30px;
}

.car-fleet-options img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.car-fleet-options img:hover {
    transform: scale(1.1);
}

.fleet-detail {
    display: flex;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    height: 100px;
    width: 650px;
    background-color: #242424;
    border-radius: 20px;
    overflow: hidden;
}

.fleet-option-detail {
    padding: 20px 25px;
    text-align: left;
    width: 50%;
    height: 100px;
    color: #ffffff;
}

.fleet-price {
    width: 40%;
    display: flex;
}

.fleet-price div p {
    font-size: 12px;
}

.fleet-price div {
    align-content: center;
}

.fleet-price .fleet-car-price {
    font-size: 20px;
    font-weight: 900;
}

.sec-2 .bar {
    position: relative;
    bottom: 5px;
}


/* section 3 */

.sec-3 {
    text-align: center;
    background-color: #000000;
    padding: 30px 0px;
}

.car-rental-types {
    margin-top: 50px;
    background-color: #000000;
}

.car-rental-types .car-options {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    gap: 20px;
}

.car-rental-types .car-options .option {
    position: relative;
    width: 25%;
    overflow: hidden;
    border-radius: 30px;
}

.car-rental-types .car-options .option img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.car-rental-types .car-options .option .corner {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 80px;
    padding: 10px;
    align-content: center;
    background-color: #000000;
    border-radius: 0px 50px 0px 0px;
}

.car-rental-types .car-options .option .corner a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid #f5b754;
    padding: 20px;
    border-radius: 50%;
}

.car-rental-types .car-options .option .corner a::after {
    content: "\f35d";
    font-family: fontawesome;
}

.car-rental-types .car-options .option:hover img {
    transform: scale(1.07);
}

.car-rental-types .car-options .option:hover .corner a {
    background-color: #f5b754;
    color: white;
}

.car-rental-types .car-options .option .car-type {
    position: absolute;
    z-index: 100;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    top: 40px;
    left: 30px
}

#car-type-btn-1 {
    position: absolute;
    left: 730px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #f5b754;
    color: transparent;
    background-color: transparent;
}

#car-type-btn-2 {
    position: absolute;
    padding: 5px;
    width: 20px;
    height: 20px;
    left: 765px;
    border-radius: 100px;
    border: 1px solid #f5b754;
    color: transparent;
    background-color: transparent;
}

#car-type-btn-1:hover,
#car-type-btn-2:hover {
    background-color: #f5b754;
}

.gap-sec-3 {
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #000000;
}

.bar-sec-3 {
    background-color: #f5b754;
    height: 60px;
    width: 2px;
}


/* section 4 */

.sec-4 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/section-1/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.sec-4 .Rental-process-sec {
    width: 100%;
    background-color: #000000;
    padding: 50px 0px;
}

.rental-process {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sec-4 .Rental-process-sec .steps {
    position: relative;
    align-content: center;
    text-align: start;
    margin: 40px 0px;
    padding-left: 20px;
    border-radius: 30px;
    width: 23%;
    height: 280px;
    background-color: #252525;
    overflow: hidden;
}

.sec-4 .Rental-process-sec .steps .corner {
    position: absolute;
    align-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 0px 30px 0px 0px;
    background-color: #000000;
}

.sec-4 .Rental-process-sec .steps .corner .text {
    background-color: #252525;
    color: #ffffff;
    padding: 20px;
    border-radius: 50px;
}

.sec-4 .promo {
    padding: 50px;
    text-align: center;
}

.sec-4 .promo i {
    margin: 30px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    padding: 30px;
    border-radius: 50px;
    color: #ffffff;
    border: 1px solid #f5b754;
}

.sec-4 .promo i:hover {
    color: #f5b754;
}

.sec-4 .testimonials {
    padding: 100px 0px;
    text-align: center;
    background-color: #000000;
}

.sec-4 .testimonials .clients-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sec-4 .testimonials .clients-section .client {
    position: relative;
    margin: 20px 0;
    text-align: start;
    height: 230px;
    width: 100%;
    padding: 40px 0;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #252525;
    width: 20%;
    overflow: hidden;
}

.sec-4 .testimonials .clients-section .client .stars {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: #f5b754;
    background-color: #000000;
    border-radius: 0 0 0 20px;
}

.sec-4 .testimonials .clients-section .client .corner {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 90px;
    background-color: #000000;
    align-content: center;
    text-align: center;
    border-radius: 0 20px 0 0;
}

.sec-4 .testimonials .clients-section .client .corner img {
    width: 80%;
    border-radius: 50px;
}

.sec-4 .testimonials .clients-section .client .client-detail {
    position: absolute;
    bottom: 30px;
    left: 100px;
}

.sec-5 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/section-5/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.sec-5 .our-blog {
    padding: 130px 0;
    background-color: #000000;
}

.car-news {
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.car-news .news {
    position: relative;
    width: 25%;
    background-color: #ffffff;
    border-radius: 30px;
    overflow: hidden;
}

.car-news .news img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.sec-5 .our-blog .car-news .news img:hover {
    transform: scale(1.1);
}

.car-news .news .corner {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 90px;
    align-content: center;
    border-radius: 0 30px 0 0;
    background-color: #000000;
}

.car-news .news .corner a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 1px solid #f5b754;
    border-radius: 50px;
}

.car-news .news .detail {
    text-align: end;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 150px;
    width: 100%;
    text-wrap: wrap;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.car-news .news .detail p {
    margin-top: 80px;
    margin-right: 30px;
}

.car-news .news .detail h3 {
    margin-left: 100px;
    margin-right: 30px;
}

.rent-your-car {
    padding: 100px 0;
}

.rent-your-car .des {
    margin-bottom: 50px;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #252525;
}

.logos img {
    width: 150px;
    transition: filter .3s ease-in-out;
}

.logos img:hover {
    filter: grayscale(100%);
}

.contact-info {
    background-color: #000000;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-info div {
    margin: 30px 0;
}

.contact-info .call {
    display: flex;
    font-size: 15px;
    width: 15%;
}

.contact-info .call .icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #f5b754;
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
    align-content: center;
}

.contact-info .call .text {
    align-content: center;
}

.contact-info .email {
    display: flex;
    font-size: 15px;
    width: 15%;
}

.contact-info .email .icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #f5b754;
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}

.contact-info .email .text {
    align-content: center;
}

.contact-info .address {
    display: flex;
    font-size: 15px;
    width: 15%;
}

.contact-info .address .icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #f5b754;
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
}

.contact-info .address .text {
    align-content: center;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}

.footer .foot-first {
    width: 25%;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links .link {
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    align-content: center;
    border-radius: 50px;
    color: white;
    border: 1px solid #f5b754;
}

.social-links .link a {
    text-decoration: none;
    color: white;
}

.foot-mid ul li a {
    text-decoration: none;
    color: white;
}

.foot-mid ul li {
    margin: 15px 20px;
}

.foot-mid ul li::marker {
    color: #f5b754;
    font-size: 20px;
}

.foot-mid ul li a:hover {
    color: #f5b754;
}

.foot-last {
    width: 30%;
}

.foot-last form {
    padding: 5px 2px;
    padding-left: 20px;
    width: 70%;
    border: 1px solid #f5b754;
    border-radius: 30px;
}

.foot-last form input {
    border: none;
    background-color: #000000;
    color: gray;
    font-size: 15px;
    height: 40px;
    width: 273px;
}

.foot-last form input:focus-visible {
    outline: none;
}

.foot-last form button {
    border: none;
    background-color: #f5b754;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.foot-last form:hover button {
    background-color: rgb(255, 255, 255);
}

.credits {
    padding: 20px;
    background-color: #000000;
    text-align: center;
}