* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1518px;
    margin: 0 auto;
}


/* background top*/

.first {
    width: 100%;
    height: 728px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/section-1/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* head section*/

.head-section {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo {
    font-size: 40px;
    font-weight: 900;
    width: 20%;
    text-align: end;
}

.navbar {
    align-content: end;
    width: 60%;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar .nav-list li {
    margin: 15px;
    padding: 10px;
}

.navbar .nav-list li a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.contact .phone {
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    align-content: center;
    border: 2px solid #f5b754;
    border-radius: 50px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

.contact .phone:hover {
    background-color: #f5b754;
    color: black;
}

.contact .number ul {
    list-style: none;
}

.contact .number ul li:first-child {
    font-size: 12px;
    margin-bottom: 5px;
}

.contact .number ul li:last-child {
    font-size: 20px;
}

.contact .number {
    align-content: center;
}


/* pop up*/

.navbar .nav-list li div ul li {
    padding: 5px;
}

.navbar .nav-list li div ul:last-child {
    padding-bottom: 10px;
}

.navbar .nav-list li div {
    display: none;
    position: absolute;
    top: 55px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
}

.navbar .nav-list li div ul {
    list-style: none;
}

.navbar .nav-list li div ul li a {
    margin: 0;
    transition: 0.3s ease-in-out;
}

.navbar .nav-list li div ul li a:hover {
    color: #f5b754;
    padding-left: 10px;
}

.navbar .nav-list li:hover div {
    display: block;
}


/*pop up under*/

.navbar .nav-list li div ul li .one-page-pop-up {
    display: none;
    position: absolute;
    left: 170px;
    top: 320px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul li .one-page-pop-up ul {
    list-style: none;
}

.navbar .nav-list li div ul .one-page:hover .one-page-pop-up {
    display: block;
}

.navbar .nav-list li div ul li .service-detail-popup {
    display: none;
    position: absolute;
    top: 100px;
    left: 140px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .service-detail:hover .service-detail-popup {
    display: block;
}

.navbar .nav-list li div ul li .car-grid-pop-up {
    display: none;
    position: absolute;
    top: 10px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .cars-grid:hover .car-grid-pop-up {
    display: block;
}

.navbar .nav-list li div ul li .car-types-pop-up {
    display: none;
    position: absolute;
    top: 100px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .cars-types:hover .car-types-pop-up {
    display: block;
}

.navbar .nav-list li div ul li .car-details-pop-up {
    display: none;
    position: absolute;
    top: 100px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .car-details:hover .car-details-pop-up {
    display: block;
}

.navbar .nav-list li div ul li .image-gallery-pop-up {
    display: none;
    position: absolute;
    top: 55px;
    left: 165px;
    background-color: rgb(37, 37, 37);
}

.navbar .nav-list li div ul .image-gallery:hover .image-gallery-pop-up {
    display: block;
}


/*button*/

.first button {
    position: absolute;
    left: 700px;
    bottom: 20px;
    height: 20px;
    width: 20px;
    border: 1px solid #f5b754;
    border-radius: 20px;
    background-color: transparent;
}